.ads-summary-page {
  .ant-card-body {
    padding-top: 16px;
  }

  .ant-tabs-nav {
    margin-bottom: 8px;
  }

  .ant-pro-table-list-toolbar {
    padding-block-start: 0;
  }

  .ant-pro-table-search {
    margin-block-end: 16px;
  }
}
